@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap');

  body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }

  .header {
    text-align: center;
    padding: 32px;
  }

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    /* padding: 0 4px; */
    /* remove spacing */
  }

  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 33.33%; /* IE10 */
    flex: 33.33%;
    max-width: 33.33%;
    /* padding: 0 4px; */
    /* remove spacing */

  }

  .column img {
    /* margin-top: 8px; */
    /* remove spacing */

    vertical-align: middle;
    width: 100%;
  }
 .no_image{
    text-align:center;
 }

.back_btn{
    font-size:2em;
    margin-left:45%;
}

.back_btn a{
        text-decoration:none;
            color:black;
}

.back_btn a:hover{
        text-decoration:none;
            color:#666666;
}

.back_btn2{
    margin-top:5%;
}

.back_btn2 a{
        text-decoration:none;
            color:black;
}

.back_btn2 a:hover{
        text-decoration:none;
            color:#666666;
}
/*
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  cursor: pointer;

}

main .card-mine-here img {
  width: 100%;
}
*/

@media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
}