{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vision Board</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href='{% static "home/main-new.css" %}'>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    {% block css %}{% endblock %}
</head>
<body>
    <div class="hero-bg">
        <section class="top">
            <header>

                <div class="logo">
                    <a href="{% url 'vision-view-all' %}">Vision Board</a>   <!--logo on-click homepage-->
                </div>

                <nav class="header">
                    <div class="hide-desktop">
                        <a onclick="openNav()">
                            <img src="{% static 'home/icons/bars-solid.svg' %}" alt="menu-here" width="16" class="menu">

                        </a>
                    </div>

                    <div class="show-desktop" id="nav">
                        <ul>
                            {% if user.is_authenticated %}
                                <li><a onclick="closeNav()" class="exit-btn hide-desktop"><img src="{% static 'home/icons/times-solid.svg' %}" alt="X" width="25px"></a></li>

                                <li><a href="{% url 'users-profile' %}">Profile</a></li>
                                <li><a href="{% url 'vision-create' %}">Create Vision Board</a></li>
                                <li><a href="{% url 'users-logout' %}">Logout</a></li>
                            {% else %}
                                <li><a onclick="closeNav()" class="exit-btn hide-desktop"><img src="{% static 'home/icons/times-solid.svg' %}" alt="X" width="25px"></a></li>
<!--                            <li><a onclick="closeNav()" class="exit-btn hide-desktop" style="font-size: 3em; background:none;">&times;</a></li>-->
                                <li><a href="{% url 'users-login' %}">Create Your Vision Board Now!</a></li> <!-- add user redirect to login page-->


                                <li><a href="{% url 'users-login' %}">Login</a></li>
                                <li><a href="{% url 'users-register' %}">Sign Up</a></li>
                            {% endif %}

                        </ul>
                    </div>
                 </nav>
            </header>
        </section>
    </div>


            {% block content %}{% endblock %}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {% block javascript %} {% endblock %}

    <script>
    function openNav() {
      document.getElementById("nav").style.display = "block";
    }

    function closeNav() {
      document.getElementById("nav").style.display = "none";
    }
    </script>
</body>
</html>