{% extends "home/base.html" %}
{% load crispy_forms_tags %}

{% block css%}
<style>
        .content-section{
            margin: 5%;
            padding: 2em;
            border-radius: 2em;
            border-style: solid;
            border-color:#f8f8f8;
        }
        @media only screen and (min-width: 1250px) {
          .content-section{
            margin: 5em 15%;
            padding: 2em;
            border-radius: 2em;
            border-style: solid;
            border-color:#f8f8f8;
            font-size: 1.2em;
        }
        }

    </style>
{% endblock%}

{% block content %}
    <div class="content-section">
        <h1 class="uk-text-muted"><b>Contact Us</b></h1>
        <br>
        <p>Since we have just launched, there might be some issue that you face if you need any help, assistance, or have any feedback
            we are happy to help and improve, you can drop us a mail at visionboard.help@gmail.com or fill the below given form.</p>

        <br>
        <span align="right">-Team Vision Board</span>
        <br> <br> <br> <br>


        <div style="margin:0 7em 0 7em;">
            <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Send</button>
            </div>
            </form>
        </div>
    </div>
{% endblock content %}



