{% extends "home/base.html" %}

{% block css%}
<style>
        .content-section{
            margin: 5%;
            padding: 2em;
            border-radius: 2em;
            border-style: solid;
            border-color:#f8f8f8;
        }
        @media only screen and (min-width: 1250px) {
          .content-section{
            margin: 5em 15%;
            padding: 2em;
            border-radius: 2em;
            border-style: solid;
            border-color:#f8f8f8;
            font-size: 1.2em;
        }
        }

    </style>
{% endblock%}

{% block content %}
    <div class="content-section">
        <h2>You have been logged out</h2>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a href="{% url 'users-login' %}">Login Again</a>
            </small>
        </div>
    </div>
{% endblock content %}