{% extends "home/base.html" %}

{% block css%}
<style>
        .section-page{
            margin: 5%;
            padding: 2em;
            border-radius: 2em;
            border-style: solid;
            border-color:#f8f8f8;
        }
        @media only screen and (min-width: 1250px) {
          .section-page{
            margin: 5em 15%;
            padding: 2em;
            border-radius: 2em;
            border-style: solid;
            border-color:#f8f8f8;
            font-size: 1.2em;
        }
        }

    </style>
{% endblock %}

{% block content %}
    <div class="section-page">
        <h2>Done!</h2>
        <div class="alert alert-info">
            An email has been sent with instructions to reset your password
        </div>
    </div>
{% endblock content %}