/* body {
  background: #fafafa;
  color: #333333;
  margin: 100px;
  margin-left: 50px;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
} */

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

container3{
    background: #fafafa;
    color: #333333;
    height: 200px;
    width: 50%;
    border: 3px solid #73AD21;

}

.float-container {
    height: 500px;
    width:1200px;
}

.float-child{
    width: 50%;
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px ;
}

.float-child-large{
    color:SlateGray;
    outline-style: dashed;
    background-color: LightBlue;
    outline-offset: -10px;
    height: 400px;
    width:800px;

}

.float-child-small{
    border-radius: 5px;
    color:SlateGray;
    outline-offset: -10px;
    height: 180px;
    width:250px;

}